.ajust {
  /* margin: 0px auto; */ serve para centralizar os input
  padding-top: 1%;
  padding-bottom: 2%;
  align-items: center;
  -ms-flex-align: center;
}

.tituloConjunto {
  text-align: center;
  padding-bottom: 10px;
}

.distance {
  color: white;
  margin-top: 15px;
  background-color: #616B5C;
}

.cursor {
  cursor:pointer;
}

.position_left {
  align-items: flex-start;
  float: left;
}

.position_right {
  float: right;
  text-align: right;
}

.div_height {
  height: 130%;
}

.descricao_height {
  height: 200px;
  resize: none;
}

.descricao_atividade {
  height: 150px;
  resize: none;
}

.camp {
  height: 42px;
}

.padding {
  margin-top: 10px;
}

.paddingTable {
  margin-top: 15px;
}

.paddingButton {
  margin-top: 3%;
  margin-bottom: 4%;
}

.paddingBotton {
  margin-bottom: 8%;
}

.paddingUp {
  margin-top: 5%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  float: center;
}

.color {
  color: white;
}

.position {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: auto;
}

.control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.checkbox {
  font-size: 18px;
  height: 20px;
  width: 20px;
}

.remove {
  color: red;
  font-size: 20px;
}

.pencil {
  font-size: 18px;
  color: black;
}

.color_disabled {
  font-size: 18px;
  color: silver;
}

.plus_square {
  font-size: 15px;
}

.paste {
  font-size: 18px;
}

.folder {
  font-size: 18px;
}

.paddingButtonAdd {
  margin-top: 37px;
}

.font {
  font-size: 16px;
}

.spaceBeetwen {
  padding-right: 8px;
}

.spaceBeetwenComponents {
  padding-bottom: 20px;
}

.eye {
  font-size: 18px;
  color: black;
}

.colorHeader {
  background-color: silver;
}
